<br>
<div>
    <label for="searchName">Search for a user:</label>
    <input class="w3-input" id="search-user-input"  type="text" [(ngModel)]="searchName" placeholder="Enter a name to search">
    <br>
    <button class="w3-button w3-theme-d4" (click)="searchUsers()">Search</button>
    <br>
</div>

<div *ngIf="users">
    <ul>
        <li *ngFor="let user of users" class="w3-theme-d5">
            <h3>{{user.userName}}</h3>
            <img src="{{user.userPic}}" alt="User Picture" width="120" height="120">
            <p>{{user.UserRating}}</p>
            <button class="w3-button w3-white" (click)="loadUserProfile(user)">View User</button>
            <br>
        </li>
    </ul>
</div>
