<br>
<!-- <div>
    <label for="searchName">Search for a user:</label>
    <input class="w3-input" id="search-user-input"  type="text" [(ngModel)]="searchName" placeholder="Enter a name to search">
    <br>
    <button class="w3-button w3-theme-d4" (click)="searchUsers()">Search</button>
    <br>
</div> -->
<div class="search-user-form">
  <label for="SearchName">Search for a User: </label>
  <input name="searchName" [(ngModel)]="searchName"/>
</div>


<div class="search-user-container" *ngIf="users">
  <div *ngFor="let user of users" class="search-user-inner-container">
    <div *ngIf="searchName === '' || user.userName.toLowerCase().includes(searchName.toLowerCase())">
      <div class="search-user-info">
        <div class="search-user-info-inner">
          <img *ngIf="user.userPic" src="{{user.userPic}}" alt="User Picture" width="120" height="120">
          <div class="search-user-name">
            <h3>{{user.userName}}</h3>
            <p>{{user.UserRating}}</p>
          </div>
        </div>
        <!-- <button class="view-profile" [routerLink]="['view-user', user.userName]">View User</button> -->
        <button class="view-profile" (click)="loadUserProfile(user)">View User</button>

      </div>
    </div>
  </div>
</div>

