<form #searchForm="ngForm" (ngSubmit)="searchMedia(searchForm)">
  <label for="searchString">Search Title:</label>
  <input class="w3-input" type="text" id="searchString" name="searchString" placeholder="Title" [(ngModel)]="searchString" required>

  <!-- <label for="searchType">Search Type:</label> -->
  <!-- <input type="text" id="searchType" name="searchType" [(ngModel)]="searchType" required> -->
    <select class="w3-input" name="searchType" ngModel>
    <option value="">--Type--</option>
    <option value="movie">Movie</option>
    <option value="show">TV Show</option>
  </select>

  <button class="w3-button w3-blue-grey" type="submit">Search</button>
</form>


<div *ngIf="!selectedMedia">
<h2>Search Results</h2>
<ng-container *ngIf="movie">
<ul>
  <li *ngFor="let result of movieResults">
    <h3 class="title"  (click)="selectId(result._id, result.type)">{{result.title}}</h3>
    <!-- <button (click)="selectId(result._id, result.type)">Select</button> -->
  </li>
</ul>
</ng-container>

<ng-container *ngIf="show">
  <ul>
  <li *ngFor="let result of showResults">
     <h3 class="title" (click)="selectId(result._id, result.type)" >{{result.title}}</h3>
    <!-- <button (click)="selectId(result._id, result.type)">Select</button> -->
  </li>
</ul>
</ng-container>
</div>

<div *ngIf="selectedMovie" >
  <div *ngFor="let info of selectedMovie">
  <h3>{{ info.title }}</h3>
  <p>overview: {{ info.overview }}</p>
  <p>poster: <img src="https://image.tmdb.org/t/p/original{{ info.poster_path }}" width="500" height="600"></p>
  <p>Genre: {{ info.genres }}</p>
  <p>Release Date: {{ info.release_date  }}</p>
  <p>youtube Trailer: <iframe width="420" height="315"
    src="https://www.youtube.com/embed/{{ info.youtube_trailer }}">
    </iframe></p>
    <p>Sources:</p>
    <div *ngFor="let source of info.sources">
      <p>{{ source.source }}: <a href="{{ source.link }}">link</a> type: {{ source.type }} </p>
    </div>
</div>
<div *ngIf="selectedShow" >
  <div *ngFor="let info of selectedShow">
  <h3>{{ info.title }}</h3>
  <p>overview: {{ info.overview }}</p>
  <p>poster: <img src="https://image.tmdb.org/t/p/original{{ info.poster_path }}" width="500" height="600"></p>
  <p>Genre: {{ info.genres }}</p>
  <p>First Aired: {{ info.first_aired  }}</p>
  <p>youtube Trailer: <iframe width="420" height="315"
    src="https://www.youtube.com/embed/{{ info.youtube_trailer }}">
    </iframe></p>
  <p>Sources:</p>
  <div *ngFor="let source of info.sources">
    <p>{{ source.source }}: <a href="{{ source.link }}">link</a> type: {{ source.type }} </p>
  </div>
  </div>
  </div>
</div>
<!-- <p> {{info.sources.source}}</p>
<p> {{info.sources.link}}</p>
<p> {{info.sources.type}}</p> -->
