.w3-button.w3-display-topright {
  background: #ebfbff !important;
  color: #3a4b53 !important;
}
.w3-button.w3-display-topright:hover {
  background-color: white !important;
}
.w3-container {
  padding: 2em;
}

/* Form Styles*/
.w3-input {
  margin-top: 10px !important;
}
body{
  background-image: url(src/images/popcorn-background2.jpeg);
  background-size: cover;
  min-height: 500px;
  width: 100%;
  background-attachment: fixed;
  margin-top: -80px;
  padding-top: 80px;

}

