<!-- <div *ngIf="loggedInUser">
    <form #updateUser="ngForm" (ngSubmit)="updateProfile(updateUser)" class="w3-container">
      <label for="userName">Update Username:</label>
      <input class="w3-input" type="text" id="userName" name="UserName" [(ngModel)]="userName" required>

      <label for="password">Update Password:</label>
      <input class="w3-input" type="text" id="password" name="Password" [(ngModel)]="password" required>

      <label for="userBio">Update Bio:</label>
      <input class="w3-input" type="text" id="userBio" name="UserBio" [(ngModel)]="userBio" required>

      <label for="UserPic">Update Profile Picture(Url):</label>
      <input class="w3-input" type="text" id="UserPic" name="Picture" [(ngModel)]="password" required>
      <br>
      <button class="w3-btn w3-blue-grey" type="submit">Update Profile</button>
    </form>
  </div> -->