<!--
  I have no idea what I'm doinggffdsfkjds
  <div *ngIf="selectedShow">
  <div *ngFor="let addShowReview of selectedShow">
    <h3>{{selectedshow>.title }}</h3> -->
   <form #newReview="ngForm" (ngSubmit)="addMovieReview(newReview)">
 
      <label for="reviewText">Review:</label>
      <input class="w3-input" type="text" id="review" name="Review" [(ngModel)]="Review" required>

      <label for="userRating">Rating:</label>
      <input class="w3-input" type="int" id="rating" name="userRating" [(ngModel)]="Rating">

      <button class="w3-button w3-blue-grey" type="submit">Add My Review</button>
    </form>
<!-- 
    *ngIf="selectedShow"
    <form #newReview="ngForm" (ngSubmit)="addShowReview(newReview)">
 
      <label for="reviewText">Review:</label>
      <input class="w3-input" type="text" id="review" name="Review" [(ngModel)]="Review" required>

      <label for="userRating">Rating:</label>
      <input class="w3-input" type="int" id="rating" name="userRating" [(ngModel)]="Rating">

      <button class="w3-button w3-blue-grey" type="submit">Add My Review</button>
    </form> -->