<!-- following -->
<button onclick="document.getElementById('id_modal_followers').style.display='block'"
    class="w3-button w3-block w3-theme-l1 w3-left-align">
    <i class="fa fa-users w3-margin-right"></i>Following ({{userFollowingCount}})</button>

<!-- The Modal -->
<div id="id_modal_followers" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container w3-blue-grey">
            <span onclick="document.getElementById('id_modal_followers').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
            <div *ngIf="userFollowingCount != 0">
                <li *ngFor="let following of followingUsers">
                    <div class="search-user-info">
                        <div class="search-user-info-inner">
                            <img *ngIf="following.userPic" src="{{following.userPic}}" alt="User Picture" width="120"
                                height="120">
                            <div class="search-user-name">
                                <h3>{{following.userName}}</h3>
                                <p>{{following.UserRating}}</p>
                            </div>
                        </div>
                        <!-- <button class="view-profile" [routerLink]="['view-user', user.userName]">View User</button> -->
                        <button class="view-profile" (click)="loadUserProfile(following)">View User</button>
                    </div>
                </li>
            </div>
            <div *ngIf="userFollowingCount == 0">
                <div>
                    <div class="search-user-info">
                        <div class="search-user-info-inner">
                            <div class="search-user-name">
                                <h3>You are not following anyone</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- followers -->
<button onclick="document.getElementById('id_modal_following').style.display='block'"
    class="w3-button w3-block w3-theme-l1 w3-left-align">
    <i class="fa fa-users w3-margin-right"></i>Followers ({{userFollowersCount}})</button>

<!-- The Modal -->
<div id="id_modal_following" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-container w3-blue-grey">
            <span onclick="document.getElementById('id_modal_following').style.display='none'"
                class="w3-button w3-display-topright">&times;</span>
            <div *ngIf="userFollowersCount != 0">
                <li *ngFor="let followers of userFollowers">
                    <div class="search-user-info">
                        <div class="search-user-info-inner">
                            <img *ngIf="followers.userPic" src="{{followers.userPic}}" alt="User Picture" width="120"
                                height="120">
                            <div class="search-user-name">
                                <h3>{{followers.userName}}</h3>
                                <p>{{followers.UserRating}}</p>
                            </div>
                        </div>
                        <!-- <button class="view-profile" [routerLink]="['view-user', user.userName]">View User</button> -->
                        <button class="view-profile" (click)="loadUserProfile(followers)">View User</button>
                    </div>
                </li>
            </div>
            <div *ngIf="userFollowersCount == 0">
                <div>
                    <div class="search-user-info">
                        <div class="search-user-info-inner">
                            <div class="search-user-name">
                                <h3>No one is following you</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button *ngIf="!amIFollowing" (click)="followUser(userToView.userId)" class="w3-button w3-block w3-theme-l1 w3-left-align">
    <i class="fa fa-cog fa-fw w3-margin-right"></i>Follow User
</button>

<button *ngIf="amIFollowing" (click)="unfollowUser(userToView.userId)" class="w3-button w3-block w3-theme-l1 w3-left-align">
    <i class="fa fa-cog fa-fw w3-margin-right"></i>Unfollow User
</button>