

<h1>favoriteMovies</h1>
<ul>
  <li *ngFor="let movie of favoriteMovies">
    <div *ngIf="movie">
    <h3>{{ movie.title }}</h3>
    <!-- <p>{{ movie.overview }}</p> -->
    <p><img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" width="200" height="300"></p>
  </div>
  </li>
</ul>

<!-- <h2>FavoriteShows</h2> -->
<ul>

  <li *ngFor="let show of favoriteShows">
    <div *ngIf="show">
    <h3>{{ show.title }}</h3>
    <!-- <p>{{ show.overview }}</p> -->
    <p> <img src="https://image.tmdb.org/t/p/original{{ show.poster_path }}" width="200" height="300"></p>
  </div>
  </li>
</ul>
