

<h1>Favorite Movies</h1>
<div class="favorite-flex">
  <ul class="favorite-lists">
    <li *ngFor="let movie of favoriteMovies">
      <div *ngIf="movie">
      <h3>{{ movie.title }}</h3>
      <!-- <p>{{ movie.overview }}</p> -->
      <img src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}" width="200" height="300">
    </div>
    </li>
  </ul>
</div>

<h1>Favorite Shows</h1>
<div class="favorite-flex">
  <ul class="favorite-lists">
    <li *ngFor="let show of favoriteShows">
      <div *ngIf="show">
      <h3>{{ show.title }}</h3>
      <!-- <p>{{ show.overview }}</p> -->
      <img src="https://image.tmdb.org/t/p/original{{ show.poster_path }}" width="200" height="300">
    </div>
    </li>
  </ul>
</div>
