<!-- Page Container -->
<div *ngIf="loggedInUser">

  <div class="w3-container w3-content" style="max-width: 1400px; margin-top: 80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        <!-- Profile -->
        <div class="w3-card w3-round w3-white">
          <div class="w3-container">
            <h4 class="w3-center">{{ loggedInUser.User.userName }}</h4>
            <p class="w3-center user-profile-pic">
              <img src="{{ loggedInUser.User.userPic }}" class="w3-circle" style="height: 106px; width: 106px"
                alt="Avatar" />
            </p>

            <hr />
            <p>
              <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>
              {{ loggedInUser.User.userBio }}
            </p>
          </div>
        </div>
        <br />

        <!-- Accordion -->
        <div class="w3-card w3-round">
          <div class="w3-white">

            <!-- Trigger/Open the Modal -->
            <div class="w3-button w3-block w3-theme-l1 w3-left-align">
              <i class="fa fa-cog fa-fw w3-margin-right"></i>Followers
            </div>

            <!-- Followers Component -->
            <div id="id_followers" class="w3-card w3-round">
                <div class="w3-container w3-blue-grey">
                  <app-follow-user-profile></app-follow-user-profile>
                </div>
            </div>

            <!-- Trigger/Open the Modal -->
            <button onclick="document.getElementById('id_update').style.display='block'"
              class="w3-button w3-block w3-theme-l1 w3-left-align">
              <i class="fa fa-cog fa-fw w3-margin-right"></i>Update Profile
            </button>

            <!-- The Modal -->
            <div id="id_update" class="w3-modal">
              <div class="w3-modal-content">

                <div class="w3-container w3-blue-grey">
                  <span onclick="document.getElementById('id_update').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                  <app-user-update ></app-user-update>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />

        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div class="w3-container w3-padding">
                <h6 class="w3-opacity">Favorite Media</h6>
                <app-favorite [user]="user"></app-favorite>
              </div>
            </div>
          </div>
        </div>

        <div class="w3-container w3-card w3-white w3-round w3-margin">
          <!-- <app-review-form></app-review-form> -->
          <div class="w3-container w3-card w3-white w3-round w3-margin">
            <br />
            <h4>Show/Movie Title</h4>
            <br />
            <hr class="w3-clear" />
            <p>Reviews</p>
            <app-review-detail [user]="loggedInUser"></app-review-detail>
            <div class="w3-row-padding" style="margin: 0 -16px">
              <div class="w3-half">
              
              </div>
            </div>
          </div>

          <!-- End Middle Column -->
        </div>


        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>
    <br />
  </div>
</div>